/**
 * Hero Banner Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.hero-banner {
  .hero-banner__content {
    h1 {
      opacity: 0;
      height: fit-content;
      overflow: hidden;
    }
  }
  .hero-banner__image {
    opacity: 0;
  }
}
