.btn-secondary {
  position: relative;
  width: fit-content;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: theme(colors.brand.ivory);
    transform: translateX(-50%);
    pointer-events: none;
    transition: all .3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.wysiwyg .btn {
  @apply mt-5;
}

.btn-group {
  @apply grid grid-flow-col gap-5;
}
