* {
  scroll-margin: var(--topOffset);
}

body:not(.component-preview) {
  padding-top: var(--topOffset);
  @apply font-sans bg-brand-jet text-brand-ivory;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
    top: 0;
    left: 0;
  }
}

a {
  transition: all 0.15s ease-in-out;

  &:hover, &:active, &:focus {
    transition: all 0.15s ease-in-out;
  }
}

::selection {
  background-color: theme(colors.brand.highlight);
}

#particle-container {
  position: fixed;
  width: calc(100% + 20%);
  height: calc(100% + 20%);
  top: -10%;
  right: 0;
  bottom: 0;
  left: -10%;
}

.particle {
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background-color: theme(colors.brand.ivory);
  position: absolute;
}
